# IntelliJ project files
.idea
*.iml
out
gen

logs
**/target

*~
.DS_Store

.idea/jeecg-boot.iml
.idea/misc.xml
.idea/modules.xml
.idea/qaplug_profiles.xml
.idea/sonarlint/
.idea/workspace.xml
jeecg-boot-base-common/target/
jeecg-boot-module-system/target/
